{% use '@SonataAdmin/CRUD/base_edit_form.html.twig' %}

{% block formactions %}
    {% if not app.request.xmlHttpRequest %}
        {{ parent() }}
    {% endif %}
{% endblock formactions %}

{% block sonata_tab_content %}
    {% set has_tab = ((admin.formtabs|length == 1 and admin.formtabs|keys[0] != 'default') or admin.formtabs|length > 1 ) %}
    {% if has_tab %}
        {% include 'YnloAdminBundle:CRUD:base_edit_form_with_tabs.html.twig' %}
    {% else %}
        <div class="col-md-12">
            {% if admin.formtabs['default'].groups|length <= 1 and app.request.isxmlhttprequest  %}
                {{ form_rest(form) }}
            {% else %}
                {{ form_helper.render_groups(admin, form, admin.formtabs['default'].groups, has_tab) }}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

