{% extends '@SonataAdmin/CRUD/delete.html.twig' %}

{% block content %}
    {% if object is defined and object %}
        <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {{ 'message_delete_confirmation'|trans({'%object%': admin.toString(object)}, 'SonataAdminBundle') }}
        </form>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
