{# @var admin \Sonata\AdminBundle\Admin\AdminInterface #}

{% extends admin.getTemplate('base_list_field') %}

{% set _details = admin.datagrid.columns.offsetGet('_details') %}

{% block field %}

    <div class="btn-group text-center">
        {% block button %}
            <a class="btn btn-link" title="Details"
               {% if _details.options['ajax'] %}data-list-details-url="{{ admin.generateObjectUrl('details', object, { 't' : _details.options['details_template_encoded'] }) }}"{% endif %}
               data-list-details-toggle="{{ admin.id(object) }}"
               data-toggle="collapse"
               href="#details_{{ admin.id(object) }}">
                <i class="fa fa-chevron-down"></i>
            </a>
        {% endblock %}
    </div>
{% endblock %}
