.btn-toolbar > .divider {
  display: inline-table;
  height: 30px;
  border-right: 1px solid #ccc;
  margin: 2px 5px -15px 12px;
  float: left;
}

tr.admin-table-collapsed-details {
  & > td {
    border-top: none !important;
    padding: 0 !important;
    background: transparent !important;
  }
  background: transparent !important;
}

tr.admin-table-collapsed-details-hidden {
  display: none;
}