{% block main_header %}
    <header {% block header_attributes %}class="main-header"{% endblock %}>

        {% block navbar_header %}
            <!-- Header Navbar -->
            <a href="{{ path('sonata_admin_dashboard') }}" class="logo">
                <!-- Logo -->
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">Ynlo</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>Ynlo</span>
            </a>
        {% endblock %}

        <nav {% block navbar_attributes %}class="navbar navbar-static-top" role="navigation"{% endblock %}>
            <!-- Sidebar toggle button-->
            {% block sidebar_toggle_button %}
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            {% endblock %}

            {{ sonata_block_render_event('admin.navbar_left.menu') }}

            {% block right_navbar %}
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    {{ sonata_block_render_event('admin.navbar_right.menu') }}
                </div>
            {% endblock %}
        </nav>
    </header>
{% endblock  main_header %}
