/*
 * This file is part of the YNLOFramework package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
.content-header {
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #e7e7e7;
}
.skin-blue .content-header,
.skin-red .content-header,
.skin-yellow .content-header,
.skin-green .content-header,
.skin-purple .content-header,
.skin-black .content-header,
.skin-blue-light .content-header,
.skin-red-light .content-header,
.skin-yellow-light .content-header,
.skin-green-light .content-header,
.skin-purple-light .content-header,
.skin-black-light .content-header {
  background: #fff;
}
.content-header > .breadcrumb {
  background: transparent;
  position: relative;
  float: none;
  padding: 5px;
  top: 0;
  right: 0;
}
.content-header > .breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #333;
}
.content-header + .navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}
.editable {
  border-bottom: dashed 1px blue;
}
/* Hide Delete checkbox on sonata_type_collection tables */
.sonata-ba-field-inline-table td > div.checkbox > label > .control-label__text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
